.text-moca{
    
       color: black !important;
       font-weight: normal;
       font-size: 20px;
       padding: 10px;
    
}
.text-moca:hover{

    color: #8F939B;
    text-decoration: unset #FF6200;
    font-weight: bold;
   
   /* font-size: 50px;*/

}


#navbar  img{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


#main #carousel td,th{
    border-width: 0px;
    border-style: solid;
    border-color: white;
    overflow-x: auto;
    overflow-y: auto;
    color: white;
    font-weight: normal;
    font-size: 15px;

  }

.btn-moca {
    background-color:#FF6200 !important ;
    color: white;
    border: white;
}
.btn-moca:hover{
    background-color:#ff62006c !important  ;
}

.btn-moca2:hover{
    background-color:#01122d57!important  ;
}

.btn-moca2 {
    background-color:#EEEEEE !important ;
    color: black;
    border: white;

}

.secundary {
    background-color: #FFEF77;
    color: black;
}

.tertiary {
    background-color: #2665CB;
    color: white;
}




.col{
    display: flex;
    justify-content: center !important;
}

#footer {
   background: linear-gradient(90deg,#01122D,#01122D 70%,#01122D); 
}

#footer a {
    color: white
}

.container-fluid.mt-2.mb-2 {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-start  !important;}

    .container-fluid.mt-2.mb-3 {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-around  !important;}
    

#header img{
    width: 180px;

}

#header text {
    background-color: #FF6200;
}


#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(0%);
}

#header .centrarimg {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: center; 
}
.row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#beneficios img{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
#carousel {
    position: relative;
}

#carousel .overlay {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color:white
}

#carousel .overlay .container, 
#carousel .overlay .row{
    height: 100%;

}

#placetime img{
    max-width: 80%;
}

#footer img{
    width: 180px;
}

.carousel-item {
    transition: transform 1s ease, opacity .5s ease-out;
}


